.hbox-rounded-right {
    -fx-background-color: #FFC300;
    -fx-background-radius: 0 20px 20px 0;
    -fx-border-width: 2px;
}

.hbox-selected{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10pt;
}

.buttonLimit {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: gray;
    -fx-padding: 10px;
}


weekDays {
    -fx-background-color: #f5e2c1;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.today {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: #dcdcdc; -fx-padding: 10px;
}

.purple-border{
    -fx-border-color: #651FFF;
}
