.buttonLimit {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: gray;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #d7a857;
    -fx-background-radius: 30;
}

weekDays {
    -fx-background-color: #f5e2c1;
    -fx-alignment: center;
    -fx-padding: 10px;
}

.today {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: #dcdcdc; -fx-padding: 10px;
}
