.primary-color{
    -fx-background-color: #f7d9a5;
}

.secondary-color{
    -fx-background-color: #f5e2c1;
}

.button{
    -fx-background-color: #d7a857;
    -fx-background-radius: 30;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.border{
    -fx-border-color: #d7a857;
    -fx-border-width: 1.5;
}

.right-side-border{
    -fx-border-color: #d7a857;
    -fx-border-width: 0 1.5 0 0;
}

.label-radius {
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}