.hbox-rounded-right {
    -fx-background-color: #FFC300;
    -fx-background-radius: 0 20px 20px 0;
    -fx-border-width: 2px;
}

.hbox-selected{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10pt;
}

.purple-label{
    -fx-border-color: #651FFF;
    -fx-border-radius: 10pt;
    -fx-border-width: 2px;
}