.primary-color{
    -fx-background-color: #FFC300;}

.hbox-rounded-right {
    -fx-background-color: #FFC300;
    -fx-background-radius: 0 20px 20px 0;
    -fx-border-width: 2px;
}

.outline-button {
    -fx-border-color: #651FFF;
    -fx-border-radius: 3;
}

.label-color{
    -fx-text-fill: #651FFF;
}